.page-container {
    margin: 50px 50px 50px 210px;
    padding: 0 10px;
}
.game-container{
    display:flex;
    justify-content: center;
    align-items: center;
    margin: 150px;
    width: 800px;
    height: 500px;
    border: 2px black solid;
}

.box {
    margin: 200px;
    border: 2px black solid;
    width: 350px;
    height: 350px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.element {
    width: calc(100% / 3);
    height: calc(100% / 3);
}

.element-selected {
    background-color: #2f2f2f;
    width: calc(100% / 3);
    height: calc(100% / 3);
}